body{
    background: #003;
    font-family: KaiTi;
    color: #99f;
}
.container{
    text-align: center;
    font-weight: 500;
    margin: 100px auto 0 auto;
    width: 50%;
    height: 100px;
}
.animate p{
    display: inline-block;
    font-size: 100px;
}
.animate p:nth-child(1){
    animation: rotate 4s infinite;
}
.animate p:nth-child(2){
    animation: 4s rotate .1s infinite;
}
.animate p:nth-child(3){
    animation: 4s rotate .2s infinite;
}
.animate p:nth-child(4){
    animation: 4s rotate .3s infinite;
}
.animate:hover p{
    opacity: 0;
    cursor: pointer;
}
.animate:hover p:nth-child(1){
    animation: fade 4s infinite;
}
.animate:hover p:nth-child(2){
    animation: 4s fade 1s infinite;
}
.animate:hover p:nth-child(3){
    animation: 4s fade 2s infinite;
}
.animate:hover p:nth-child(4){
    animation: 4s fade 3s infinite;
}
@keyframes rotate {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    50%  {
        transform: rotate3d(0, 1, 0, 540deg);
    }
    to   {
        transform: rotate3d(0, 1, 0, 0deg); 
    }
}
@keyframes fade {
    from { 
        opacity:0;
    }
    10% { 
        opacity:1;
    }
    30% { 
        opacity:0;
    }
    to  { 
        opacity:0;
    }
}
@font-face {
    font-family: KaiTi;
    src: url(KaiTi.ttf);
}