body {
    margin: 0;
    width: 100%;
    height: 1700px;
}

header {
    display: flex;
    justify-content: center;

    background-color: #090;
    height: 80px;
    border: 3px solid #0f0;

}

h2{
    text-align: center;
}
/* B L U E - P A R T */

.blue-part {
    width: 100%;
}

.blue-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: wheat;
    width: 100%;
    height: 200px;
    min-height: 300px;
}

.blue-1:hover {
    animation: justifyContent 2s infinite;
}

@keyframes justifyContent {
    0% {
        justify-content: center;
    }
    25% {
        justify-content: space-around;
    }
    50% {
        justify-content: space-between;
    }
    75% {
        justify-content: space-around;
    }
}

.big-blue {
    background-color: #0d006d;
    border: 3px solid #00e;
    width: 80px;
    height: 80%;
}

.blue-2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: 400px;
}

.blue-2:hover {
    animation: flexDirection 2s infinite;
}

.small-blue {
    width: 25%;
    height: 25%;
    background-color: #00a;
    border: 3px solid #006;
}

@keyframes flexDirection {
    0% {
        flex-direction: column;
    }
    50% {
        flex-direction: row;
    }
}

/* C Y A N - P A R T */
.cyan {
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;    
}

.cyan:hover{
    animation: alignContent 2s infinite;
}

.cyan .cyanItem {
    flex-basis: 20%;
    height: 30%;
    background-color: #0aa;
    border: 2px solid #0ff;
    text-align: center;
    line-height: -15%;
}

@keyframes alignContent {
    0% {
        align-content: start;
    }
    25% {
        align-content: center;
    }
    50% {
        align-content: space-around;
    }
    75% {
        align-content: space-between;
    }
}

/* G O L D - P A R T */
.gold {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #880;
    border: 2px solid #ff0;
    width: 100%;
    height: 200px;    
}

.gold:hover{
    animation: alignItems 2s infinite;
}

.gold .goldItem {
    background-color: #aa0;
    border: 2px solid #ff0;
    text-align: center;
    width: 23%;
}

@keyframes alignItems {
    0% {
        align-items: start;
    }
    25% {
        align-items: center;
    }
    50% {
        align-items: end;
    }
    75% {
        align-items: stretch;
    }
}

/* G R E E N - P A R T */

.green-part {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 200px;
    margin: 25px auto;
}

.green-item-1,
.green-item-2,
.green-item-3,
.green-item-4,
.green-item-5,
.green-item-6 {
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #090;
    /*    background-color: #00e000;*/
    width: 32%;
    height: 100%;
}

.green-item-1 .green-item {
    align-self: auto;
}

.green-item-2 .green-item {
    align-self: baseline;
}

.green-item-3 .green-item {
    align-self: center;
}

.green-item-4 .green-item {
    align-self: flex-end;
}

.green-item-5 .green-item {
    align-self: flex-start;
}

.green-item-6 .green-item {
    align-self: stretch;
}

.green-item {
    background-color: #00e000;
    border: 5px solid #0a0;
    width: 50%;
    height: 50%;
}

/* R E D - P A R T */

.red-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
}

.red-part ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding-left: 0px;
}

.red-part ul li {
    flex-basis: 7%;
    height: 80%;
    list-style-type: none;
    background-color: #a44;
    border: 3px solid #a00;
}

/* first list */

.red-list-1 li:nth-child(3n+2) {
    height: 50%;
}

.red-list-1 li:nth-child(4n+1) {
    flex-basis: 4%;
    margin-left: 3%;
    margin-top: 1%;
}